<div>

  {{ title }}

  <div>
    <p>Total: <span class="workitem-total"></span></p>
    <p>Total processed: <span class="workitem-totalProcessed"></span></p>
    <p>Remaining: <span class="workitem-remaining"></span></p>
    <p>Processing rate (workitems/s) <span class="workitem-processingRate"></span></p>
  </div>

  <div>
    <form>
      <button id="resetButton" onclick="resetWorkItems()">Reset</button>
    </form>
  </div>
    
</div>     
