<!DOCTYPE html>
<html>
<head>
    <title>{{{ title }}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/app.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

  {{{ body }}}

</body>
</html>